/* ========================= Begin: ========= services CSS ========================= */


/* Check General CSS or exactly same CSS */


.services .max-width .services-content .card
{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.services .max-width .services-content .card:hover
{
    background: crimson;
}


.services .max-width .services-content .card .box
{
    transition: all 0.3s ease;
}


.services .max-width .services-content .card:hover .box
{
    transform: scale(1.05);
}


.services .max-width .services-content .card .box i
{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.services .max-width .services-content .card:hover .box i
{
    color: #fff;   
}


.services .max-width .services-content .card .box .text
{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* ========================= End: ========= services CSS ========================= */
